# Отменяем игнорирование для всех .java файлов
!*.java

# Игнорировать содержимое директории bin/ (или другой директории с скомпилированными файлами)
bin/
out/

# Игнорировать файлы конфигурации IDE
*.iml
.idea/

# Игнорировать файлы конфигурации и временные файлы системы macOS
.DS_Store

# Игнорировать временные файлы операционной системы и текстовых редакторов
*.log
*.tmp
*.swp
*.swo

# Игнорировать файлы классификации by-product
*.class